.slide{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    width: 100%;
    overflow-y: scroll;
    height: 40%;
    
    justify-items: center;

}

@media screen and (max-width:1200px) {
    .slide{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:750px) {
    .slide{
        grid-template-columns: repeat(1,1fr);
    }
}